.heading {
  margin: 30px auto;
  width: 40%;
  padding-bottom: 5%;
}
.heading h1 {
  text-align: center;
}

.heading p {
  text-align: center;
}
.items {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}
.items .home {
  width: 45%;
}
.items .info {
  width: 50%;
  background-color: #fff;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select .productImg {
  width: 25%;
  padding: 10px 10px;
}

.select p {
  width: 41%;
  font-weight: 400;
}

.description-hide {
  display: none;
}

.description {
  background-color: #fff;
  padding: 10px 10px;
}
.description h4 {
  font-weight: 500;
}
.description .button {
  margin: 600px 100px 0px 225px;
}
.description .button button {
  padding: 10px 20px;
  background-color: #3f96b0;
  border: 0;
  border-radius: 10px;
  color: #fff;
}
@media screen and (max-width: 450px) {
  .items {
    flex-direction: column;
  }
  .items .home {
    width: 100%;
  }
  .items .info {
    width: 100%;
  }
  .description .button {
    margin: 130px 50px 0px 85px;
  }
}
@media screen and (max-width: 850px) and (min-width: 450px) {
  .items {
    flex-direction: column;
  }
  .items .home {
    width: 80%;
  }
  .items .info {
    width: 80%;
  }
  .description .button {
    margin: 265px 90px 0px 155px;
  }
}
